<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#DB0000"/>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display&family=Rubik&display=swap" rel="stylesheet">
    <link rel="icon" href="./favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="manifest" href="./app.webmanifest">
    
    <title>DeliciousEats</title>
</head>
<body>
    <a href="#mainContent" class="skip-link">Skip to Content</a>
    <header class="app-bar">
        <div class="app-bar__menu">
          <button id="hamburgerButton"><i class="ri-menu-line"></i></button>
        </div>
        
        <nav id="navigationDrawer" class="app-bar__navigation">
          <ul>
            <li><a href="#/explore">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="https://www.linkedin.com/in/zilvafajrulfalaq" target="_blank">About Us</a></li>
          </ul>
        </nav>
        <div class="app-bar__brand">
          <h1>DeliciousEats</h1>
        </div>
      </header>

    <section class="hero">
      <picture>
        <source media="(max-width: 600px)" srcset="./images/heros/hero-image_1-small.jpg">
      <img src="./images/heros/hero-image_1-large.jpg" alt="">
      </picture>
        <div class="hero-text">
          <h2 tabindex="0" >Welcome to <span class="logo">DeliciousEats</span></h2>
          <p tabindex="0" >Discover the finest flavors from around the world.</p>
        </div>
        </section>
        <main id="mainContent" tabindex="0"></main>
    <footer>
        <app-footer></app-footer>
    </footer>
</body>
</html>
